{%extends 'base.html'%}
{%block content%}
{% load i18n %}

<h2 class="pageheader">{% trans "Get in touch" %}</h2>
<p>{% trans "Feel free to send your ideas, questions or critique to  " %}<a href="mailto:contact@open-decision.org">contact@open-decision.org</a>{% trans " or get in touch at " %}<a href="https://join.slack.com/t/opendecision/shared_invite/enQtNjM2NDUxNTQyNzU4LWYwMzJlZjlhOWJkMmIxMTBmMjYwMDE0Y2Y2OGUyZDBiY2FmOWU4OTVmMDFhMjNhNTIxYWZkZTNkNDRmNjQ4MmM">Slack</a>.</p>
<p>{% trans "Further information at" %} <a href="open-decision.org">open-decision.org</a>
{%endblock%}
