{% extends 'base.html' %}
{%block content%}
{% load static %}
{% load i18n %}

<link href="{% static 'css/one-page-wonder.css' %}" rel="stylesheet">

<header class="masthead text-center text-white">
  <div class="masthead-content">
    <h2 id="heading" class="masthead-heading mb-0"></h2>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-1">
            <div class="p-1">
              <img class="img-fluid" src="{% static 'img/decision_tree.svg' %}" alt="">
            </div>
          </div>
          <div class="col-lg-6 order-lg-2">
            <div class="p-1">

              <p class="text-justify">{% trans "Mit dem Projekt open decision soll eine Open-Source-Plattform zur Entscheidungsautomatisierung geschaffen werden. Mittels einer intuitiven Weboberfläche können Experten spezifische Fragestellungen in komplexe Entscheidungsbäume aufbereiten. Diese können in ein offenes Datenformat exportiert und Nutzern online oder per App in Form einer Abfrage präsentiert werden." %}</p>
<!---ENGLISH:The open decision project aims to create an open source platform for decision automation. Using an intuitive web interface, experts can process specific questions into complex decision trees. These can be exported into an open data format and presented to users online or via app in the form of a query. --->
            </div>
          </div>
        </div>
      </div>
    <a href="{% url 'login'%}?next=/dashboard" class="btn btn-primary btn-xl rounded-pill mt-1">{% trans "Try now" %}</a>
    </div>
</header>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid" src="{% static 'img/g1.svg' %}" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">{% trans "Konzept" %}</h2>
          <p class="text-justify">{% trans "Die Plattform ist in zwei Module aufgeteilt. Der Builder bietet eine einfache Weboberfläche zur Erstellung von Entscheidungsbäumen. Das Gegenstück dazu ist der Interpreter, der die Entscheidungsbäume für den Endnutzer darstellt. Die Darstellung kann auf verschiedenen Kanälen, online, per App oder in Chat-Bots erfolgen. Die Kommunikation zwischen Builder und Interpreter läuft über ein standardisiertes Datenformat ab." %}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img class="img-fluid" src="{% static 'img/chat_bot.svg' %}" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">{% trans "Builder" %}</h2>
          <p class="text-justify">{% trans "Der Builder agiert als Übersetzer des juristischen Gedankenguts in ein einheitliches, maschinell lesbares Datenformat. Es ist also essentiell, dass dieser Prozess möglichst ohne Reibungen abläuft. Eine simple und intuitive Bedienbarkeit steht daher bei der Entwicklung im Vordergrund, um auch nicht IT-affinen Juristen die Erstellung von Inhalten zu ermöglichen. Mit einem einfachen Interface können Entscheidungsbäume visuell durch Drag & Drop erstellt werden. Die fertigen Entscheidungsbäume werden nach einer automatisierten Qualitätskontrolle bei Bedarf für eine manuelle Überprüfung durch Experten (Volljuristen) aufbereitet, um höchste Qualitätsstandards zu gewährleisten." %}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid" src="{% static 'img/judge.svg' %}" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">{% trans "Interpreter" %}</h2>
          <p class="text-justify">{% trans "Um einen niedrigschwelligen Zugang zu gewährleisten, bieten wir eine simple Benutzeroberfläche auf einer Vielzahl von Kanälen an. Intern haben wir bereits eine Website und einen Chat-Bot für den Messenger-Dienst Telegram erfolgreich in Betrieb. Geplant sind verschiedene Chat-Bots und eine eigene mobile App. Der Aufbau soll dabei plattformübergreifend in einem einheitlichen und übersichtlichen Schema erfolgen: Aus einem Katalog wählt der Verbraucher zunächst das passende Problem aus. Das Programm beginnt daraufhin mit der Abfrage des Sachverhalts, welche dem jeweils dahinterstehenden Entscheidungsbaum entspricht. Nach einer möglichst geringen Anzahl an Fragen erhält der Nutzer eine Zusammenstellung von Informationen, Weiterleitungen und ggf. Musterschreiben zu seinem konkret ermittelten Fall." %}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{%endblock%}
