{% extends 'base.html' %}
{%block content%}
{% load static %}
{% load i18n %}

<link href="{% static 'css/one-page-wonder.css' %}" rel="stylesheet">

<header class="masthead text-center text-white">
  <div class="masthead-content">
    <h2 class="masthead-heading mb-0">Open Decision</h2>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-1">
            <div class="p-1">
              <img class="img-fluid" src="{% static 'img/decision_tree.svg' %}" alt="">
            </div>
          </div>
          <div class="col-lg-6 order-lg-2">
            <div class="p-1">
              <h2 class="display-4">{% trans "Civil Legal Tech" %}</h2>
              <p>{% trans "The open decision project aims to create an open source platform for decision automation. Using an intuitive web interface, experts can process specific questions into complex decision trees. These can be exported into an open data format and presented to users online or via app in the form of a query." %}</p>
            </div>
          </div>
        </div>
      </div>
    <a href="{% url 'login'%}?next=/dashboard" class="btn btn-primary btn-xl rounded-pill mt-1">{% trans "Try now" %}</a>
    </div>
</header>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid" src="{% static 'img/g1.svg' %}" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">{% trans "Easy solution for legal issues" %}</h2>
          <p>{% trans "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati." %}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img class="img-fluid" src="{% static 'img/chat_bot.svg' %}" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">{% trans "Modern technologies!" %}</h2>
          <p>{% trans "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati." %}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid" src="{% static 'img/judge.svg' %}" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">{% trans "Justice for everyone" %}</h2>
          <p>{% trans "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati." %}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{%endblock%}
