{% extends 'base.html' %}
{%block content%}
{% load static %}
{% load i18n %}


<!DOCTYPE html>
<html>
<head>
</head>
<body>
  {% if url %}
  <div class="border-left-success">
    <h4 class="ml-2">{% trans "Publishing successful!" %}</h4>
    <p class="ml-2">{% trans "The tree was published successfully and can be publicly accessed at " %}
    <a href="{{ request.build_absolute_uri |cut:"?new=true" }}">{{ request.build_absolute_uri |cut:"?new=true" |cut:"http://" |cut:"https://"}}</a></p>
  </div>
  {% endif %}
<div id="publish-div">
</div>
</body>
</html>

<script defer type="text/javascript" src="{% static 'vendor/json-logic/logic.js' %}"></script>
<script defer type="text/javascript" src="{% static 'vendor/od-js-interpreter/od-js-interpreter.js' %}"></script>
<script type="text/javascript">
  window.addEventListener('DOMContentLoaded', function() {
var  publishedTree = {{tree_data|safe}};
openDecision.init (publishedTree, "publish-div");
});
</script>
{%endblock%}
