{% extends 'base.html' %}
{%block content%}
{% load static %}


<!DOCTYPE html>
<html>
<head>
</head>

<body>
<div id="test">

</div>
</body>
</html>

<script type="text/javascript" src="{% static 'logic.js' %}"></script>
<script type="text/javascript">

var currentNode
var tree
var preString
var log
var selectedDiv

window.onhashchange = function() {
  if (currentNode != location.hash.replace('#','')) {
    if (location.hash.length > 0) {
        if (log.nodes.length > 0) {
          currentNode = location.hash.replace('#','');
          log.nodes.pop();
          log.answers.pop();
        } else {
          currentNode = tree.header.start_node;
          log = {'nodes': [], 'answers': []};
        }
        displayNode();
    }
  }
};

function displayTree  (path, divId) {
  tree = path;
  currentNode = tree.header.start_node;
  preString = '<h3>' + tree.header.tree_name + '</h3><br>';
  selectedDiv = divId
  log = {'nodes': [], 'answers': []}
  displayNode()
};

function displayNode () {
  // Check if <p> should be default
  // Check for vars that need to be replaced
  console.log(log);
  location.hash = currentNode;
  var string = preString + tree[currentNode].question + '<br>';

  if (tree[currentNode].input_type == 'button') {
    for (i = 0; i < tree[currentNode].answers.length; i++) {
        string += '<button type="button" class="btn btn-primary ml-2" id="answer-button">' + tree[currentNode].answers[i] + '</button>'
      }
    }
  else if (tree[currentNode].input_type == 'list') {
    string += '<select id="list-select">'
    for (i = 0; i < tree[currentNode].answers.length; i++) {
      string += '<option value=' + tree[currentNode].answers[i] + '>' + tree[currentNode].answers[i] + '</option>'
      }
      string += '</select><br><button type="button" class="btn btn-primary ml-2 mt-3" id="submit-list-button">Submit</button>'
    }
  else if (tree[currentNode].input_type == 'number') {
  string += '<input type="number" id="number-input">'
  string += '</select><br><button type="button" class="btn btn-primary ml-2 mt-3" id="submit-number-button">Submit</button>'
}
else if (tree[currentNode].input_type == 'date') {
  string += '<input type="number" id="date-input">'
  string += '</select><br><button type="button" class="btn btn-primary ml-2 mt-3" id="submit-number-button">Submit</button>'
};

  string += '<br><button type="button" class="btn btn-primary ml-2 mt-3" id="restart-button">Restart</button><button type="button" class="btn btn-primary ml-2 mt-3" id="back-button">Back</button>'
  document.getElementById(selectedDiv).innerHTML = string;
  document.addEventListener( "click", listener );
};


function listener (event) {
  // Support IE6-8
 var target = event.target || event.srcElement;

  if (target.id == 'answer-button') {
    var answer = target.textContent;
    checkAnswer(answer, 'button');

  } else if (target.id == 'submit-list-button') {
    var answer = document.getElementById("list-select").value;
    checkAnswer(answer, 'list');

  } else if (target.id == 'submit-number-button') {
    var answer = document.getElementById("number-input").value;
    checkAnswer(answer, 'number');

  } else if (target.id == 'submit-date-button') {
    var answer = document.getElementById("date-input").value;
    // Load datepicker
    checkAnswer(answer, 'date');

  } else if (target.id == 'restart-button') {
    currentNode = tree.header.start_node;
    displayNode();
    log = {'nodes': [], 'answers': []};

  } else if (target.id == 'back-button') {
      if (log.nodes.length > 0) {
        currentNode = log.nodes.pop();
        log.answers.pop();
      } else {
        currentNode = tree.header.start_node;
        log = {'nodes': [], 'answers': []};
      }
    displayNode();
  }
};

function checkAnswer (answer, input_type) {
  var rule = jsonLogic.apply(tree[currentNode].rules, {"answer":answer});
  log['nodes'].push(currentNode);
  log['answers'].push(answer);
  currentNode = tree[currentNode].results[rule].destination;
  displayNode();
};

// Initiate with path(s) for trees and div to display everything in, CSS classes later

// Show question (display as safe html, look for variables) and display answers
// list: take answers from a list in display selectfield with listener attached
// date/number: show numberfield or datefield with datepicker attached, attach listener
// end_node: show restart or save-button

// Save/download progress function
// Check header data
// Validate user input and give errors

var  testTree = {
  "header": {
    "version": 0.1,
    "build_date": "2019-12-26",
    "logic_type": "jsonLogic version X",
    "tree_name": "R\u00fccklastschriftgeb\u00fchren",
    "tree_slug": "rucklastschriftgebuhren",
    "start_node": "start",
    "vars": {}
  },
  "angemessen": {
    "name": "angemessen",
    "question": "Eine Geb\u00fchr von bis zu vier Euro ist leider angemessen.",
    "input_type": "button",
    "end_node": true,
    "rules": {},
    "answers": []
  },
  "ankundigung": {
    "name": "Ank\u00fcndigung",
    "question": "Wurde die Lastschrift vorher durch eine Rechnung angek\u00fcndigt oder zieht die Firma regelm\u00e4\u00dfig Geld ein?",
    "input_type": "button",
    "end_node": false,
    "rules": {
      "if": [
        {
          "==": [
            {
              "var": "answer"
            },
            "Ja"
          ]
        },
        "0",
        {
          "==": [
            {
              "var": "answer"
            },
            "Nein"
          ]
        },
        "1"
      ]
    },
    "answers": [
      "Ja",
      "Nein"
    ],
    "results": {
      "0": {
        "destination": "ankundigungsart"
      },
      "1": {
        "destination": "musterschreiben"
      }
    }
  },
  "start": {
    "name": "start",
    "question": "Wie hoch sind die von <b>Ihnen geforderten</b> Geb\u00fchren?",
    "input_type": "button",
    "end_node": false,
    "rules": {
      "if": [
        {
          "==": [
            {
              "var": "answer"
            },
            "vier Euro oder weniger"
          ]
        },
        "0",
        {
          "==": [
            {
              "var": "answer"
            },
            "mehr als vier Euro"
          ]
        },
        "1"
      ]
    },
    "answers": [
      "vier Euro oder weniger",
      "mehr als vier Euro"
    ],
    "results": {
      "0": {
        "destination": "angemessen"
      },
      "1": {
        "destination": "ankundigung"
      }
    }
  },
  "ankundigungsart": {
    "name": "Ank\u00fcndigungsart",
    "question": "<p>Wie wurdest du nach der fehlgeschlagenen Lastschrift benachrichtigt?</p>",
    "input_type": "list",
    "end_node": false,
    "rules": {
      "if": [
        {
          "in": [
            {
              "var": "answer"
            },
            [
              "SMS"
            ]
          ]
        },
        "0",
        {
          "in": [
            {
              "var": "answer"
            },
            [
              "E-Mail",
              "Nicht"
            ]
          ]
        },
        "1",
        {
          "in": [
            {
              "var": "answer"
            },
            [
              "Brief"
            ]
          ]
        },
        "2"
      ]
    },
    "answers": [
      "Brief",
      "E-Mail",
      "Nicht",
      "SMS"
    ],
    "results": {
      "0": {
        "destination": "max309"
      },
      "1": {
        "destination": "max3"
      },
      "2": {
        "destination": "max4"
      }
    }
  },
  "max4": {
    "name": "max4",
    "question": "In diesem Fall ist eine Geb\u00fchr von bis zu vier Euro leider angemessen.",
    "input_type": "button",
    "end_node": true,
    "rules": {},
    "answers": []
  },
  "max309": {
    "name": "max3.09",
    "question": "In diesem Fall ist nur eine Geb\u00fchr von 3,09 Euro zul\u00e4ssig. Soll ein Musterschreiben zur R\u00fcckforderung generiert werden?",
    "input_type": "button",
    "end_node": false,
    "rules": {
      "if": [
        {
          "==": [
            {
              "var": "answer"
            },
            "Ja"
          ]
        },
        "0",
        {
          "==": [
            {
              "var": "answer"
            },
            "Nein"
          ]
        },
        "1"
      ]
    },
    "answers": [
      "Ja",
      "Nein"
    ],
    "results": {
      "0": {
        "destination": "musterschreiben"
      },
      "1": {
        "destination": "ende"
      }
    }
  },
  "max3": {
    "name": "max3",
    "question": "In diesem Fall ist nur eine Geb\u00fchr von 3 Euro zul\u00e4ssig. Soll ein Musterschreiben zur R\u00fcckforderung generiert werden?",
    "input_type": "button",
    "end_node": false,
    "rules": {
      "if": [
        {
          "==": [
            {
              "var": "answer"
            },
            "Ja"
          ]
        },
        "0",
        {
          "==": [
            {
              "var": "answer"
            },
            "Nein"
          ]
        },
        "1"
      ]
    },
    "answers": [
      "Ja",
      "Nein"
    ],
    "results": {
      "0": {
        "destination": "musterschreiben"
      },
      "1": {
        "destination": "ende"
      }
    }
  },
  "musterschreiben": {
    "name": "Musterschreiben",
    "question": "- Musterschreiben -",
    "input_type": "button",
    "end_node": true,
    "rules": {},
    "answers": []
  },
  "ende": {
    "name": "Ende",
    "question": "-",
    "input_type": "button",
    "end_node": true,
    "rules": {},
    "answers": []
  }
}

document.addEventListener('readystatechange', function() {
   if (document.readyState === "complete") {
     displayTree (testTree, 'test');
   }
 });


</script>
{%endblock%}
