{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load static %}
{% load custom_filters %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content_extra %}

{% if user.is_authenticated %}

{% include "account/snippets/already_logged_in.html" %}
{% block account_content %} {% endblock %}

{% else %}
<div class="container">
  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg mb-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block">
              <img class="img-fluid ml-3 mt-5 p-1" src="{% static 'img/undraw/forgot_password.svg' %}" alt="Celebration Illustration">
            </div>
            <div class="col-lg-6">
              <div class="py-5 px-3">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-2">{% trans "Forgot Your Password?" %}</h1>
                  <p class="mb-4">{% trans "We get it, stuff happens. Just enter your email address below and we'll send you a link to reset your password!" %}</p>

                  <form method="POST" class="container-fluid text-center" id="forgot_password_form" action="{% url 'account_reset_password' %}">
                    {% csrf_token %}
                    {% if form.email.errors %}
                    <div class="border-left-danger pl-2">
                      <p>{{ form.email.errors }}</p>
                    </div>
                    {% endif %}
                    {{ form.email |addclass:'form-control form-control-user; _("E-Mail Address")' }}
                    <input class="btn btn-primary mt-3 mb-3" type="submit" value="{% trans 'Reset My Password' %}" />
                    <br>
                  </form>
                  <p class="forgot_password_info">{% trans "Please contact us if you have any trouble resetting your password." %}</p>
                  <a class="medium" href="{% url 'account_login' %}">Back to Login</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endif %}

{% endblock %}
