{% extends "account/base.html" %}
{% block account_content %}
{% load custom_filters %}
{% load static %}
{% load i18n %}

<div class="container">
  <div class="card o-hidden border-0 shadow-lg mb-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      {% block messages %}
      {% if messages %}
      <div>
        <ul>
          {% for message in messages %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{message}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      {% endblock %}
      <div class="row">
        <div class="col-lg-5 d-none d-lg-block">
          <img class="img-fluid ml-3 mt-5 p-1" src="{% static 'img/undraw/celebration.svg' %}" alt="Celebration Illustration">
        </div>
        <div class="col-lg-7">
          <div class="py-5 px-3">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">{% trans "Create an Account!" %}</h1>
            </div>
            <div class="border-left-danger">
              <h5 class="m-3">Warning: Prototype only</h5>
              <p class="m-3">We would love you to try and test our prototype! However, please be aware that this version is in a very early stage.</p>
              <p class="m-3">The final design and experience will greatly differ from the version you are looking at. Changes in architecture can lead to data-loss or incompatibilities. Feel free to contact us at any point!</p>
            </div>
            <form class="container-fluid text-center" id="signup_form" method="post" action="{% url 'account_signup' %}">
              {% csrf_token %}
              <div class="form-group row">
                <div class="col-sm-6">
                  <div class="border-left-danger">
                    {% for error in form.first_name.errors %}
                    {{ error }}
                    {% endfor %}
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="border-left-danger pl-2">
                    {% for error in form.username.errors %}
                    {{ error }}<br>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  {{ form.first_name}}
                </div>
              </div>
              <div class="form-group row">
                <div class="border-left-danger ml-6 pl-2">
                  {% for error in form.email.errors %}
                  {{ error }}
                  {% endfor %}
                </div>
              </div>
              <div class="form-group">
                {{ form.email |addclass:'form-control form-control-user; _("Enter Email")' }}
              </div>
              <div class="form-group row">
                <div class="col-sm-6">
                  <div class="border-left-danger">
                    {% for error in form.password1.errors %}
                    {{ error }}
                    {% endfor %}
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="border-left-danger pl-2">
                    {% for error in form.password2.errors %}
                    {{ error }}<br>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  {{ form.password1 |addclass:'form-control form-control-user; _("Password")' }}
                </div>
                <div class="col-sm-6">
                  {{ form.password2 |addclass:'form-control form-control-user; _("Repeat Password")' }}
                </div>
              </div>
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <div class="form-check mb-2">
              <input class="form-check-input" id="GDPR-consent" type="checkbox" required name="GDPR-consent">
              <label for="GDPR-consent" class="form-check-label">I agree that my data may be processed to create and maintain my account. I have read the <a href="https://open-decision.org/legal" target="blank">privacy statement</a> and hereby accept it. I can revoke my consent at any time with effect for the future.</label>
              </div>
              <button class="btn btn-primary btn-lg mb-3" type="submit">{% trans "Sign Up" %}</button>
            </form>
            <div class="text-center">
              <a class="medium" href="{% url 'account_login' %}">{% trans "Already got an Account?" %}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div </div>
  {% endblock %}
