{% load account %}
{% user_display user as user_display %}
{% load i18n %}
{% load inlinecss %}
{% load static %}
{% inlinecss "account/css/Email-Styles.css" %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Please confirm your E-Mail</title>
</head>

<body itemscope itemtype="http://schema.org/EmailMessage">
<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" width="600">
			<div class="content">
				<table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope itemtype="http://schema.org/ConfirmAction">
					<tr>
						<td class="content-wrap">
							<meta itemprop="name" content="Confirm Email"/>
							<table width="100%" cellpadding="0" cellspacing="0">
								<tr>
									<td align="center" bgcolor="#375ece" style="padding: 15px 0 10px 0;">
										<img src="https://open-decision.herokuapp.com{% static 'img/od-brand/od_logo_white.png' %}" width="50" height= "50" alt="Open Decision Logo" style="display: block;" />
									</td>
								</tr>
								<tr>
									<td>
										<h1>Thanks for joining Open Decision!</h1>
										</td>
									</tr>
								<tr>
									<td class="content-block">
										Please confirm your email address you are using for Open Decision by clicking the link below.
									</td>
								</tr>
								<tr>
									<td class="content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
										<a href="{{ activate_url }}"  class="btn-primary" itemprop="url">Confirm email address</a>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
				<div class="footer">
					<table width="100%">
						<tr>

						</tr>
					</table>
				</div></div>
		</td>
		<td></td>
	</tr>
</table>

</body>
</html>

{% endinlinecss %}
