/*general*/

  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .clearfix::after {
  	content: "";
  	display: table;
  	clear: both;
  }

/*general END*/

/*basic setup*/

  .pageheader {
    margin-top:1em;
    padding-bottom:0.5em;
    border-bottom:solid lightgrey 1px;
  }

	.footer{
		overflow-x: hidden;
		background-color:grey;
    width: 100%;

	}

	.footer a {
	  float: right;
	  color: white;
	  text-align: center;
	  padding: 6px 8px;
	  text-decoration: none;
    font-size:0.8em;
	}

	.footer a:hover {
	  background-color: #ddd;
	  color: black;
    text-decoration: none;
	}

	.footer a:active {
	  background-color: #dfdfdf;
	  color: white;
	}

/*basic setup END*/


/*basic elements*/

.back_button:hover {
  text-decoration: none;

}

/*basic elements END*/

/*badges*/

.badge {
    padding: 5px 12px;
    font-size: 10px;
    color: #fff;
    font-weight: 500;
    line-height: 1;
}

.badge-secondary {
    background-color: #6c757d;
}

.badge.badge-primary {
    background-color: #9c27b0;
}

.badge.badge-info {
    background-color: #00bcd4;
}

.badge.badge-success {
    background-color: #4caf50;
}

.badge.badge-warning {
    background-color: #ff9800;
}

.badge.badge-danger {
    background-color: #f44336;
}

.badge.badge-rose {
    background-color: #e91e63;
}
/*badges END */

/*User forms*/
/*user forms END */

/*node_create form*/
.errorlist, .errorlist nonfield {
  color:red;
  list-style-type:none;
  margin:5px;
  padding: 0;
}

.node_create_name {
  border:none;
  background-color:#fcfcfc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.node_create_name:focus {
  background-color:#fff;
}

#question-field {
  width: 100%;
  text-align:center;
  padding: 1em;

}

#inputtype-field  {
  width: 100%;
  text-align:center;
  padding: 1em;
}

#answer-field {
  float: left;
  width: 50%;
  padding: 1em 0;
  margin:0;
}

#logic-field {
  float: right;
  width: 50%;
  padding:1em 0;
  margin:0;
}

.node_create_topbar {
  background-color:#eee;
  padding:1em;
  margin:0;
  overflow:hidden;
}

#answer-formset p {
  width: 100%;
  float:left;
}

#answer-formset input {
  width: 100%;
  margin:0;
  border:none;
  background-color:#fcfcfc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
#answer-formset input:focus {
  background-color:#fff;
}

#answer-formset label {
  display:none;
}

.answer_delete {
  float: right;
}

.answer-formset {
  padding:0.2em;
  border-right:1px solid grey;
  height: 70px;
  border-bottom:1px solid grey;
}

#logic-formset input, select {
  width: 40%;
  padding: 2px;
  margin: 2px 4px;
  border:none;
  background-color:#fcfcfc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

#logic-formset input:focus {
  background-color:#fff;
}

#logic-formset label {

}


.logic-formset {
  padding:1em;
  height: 120px;
  border-bottom:1px solid grey;
}

.logic_add, .logic_add2, .answer_add2, .answer_add {
  padding: 0 49% 0;
}
.logic_add, .logic_add2, .answer_add2, .answer_add, .logic_delete, .answer_delete {
  font-weight: bold;
  font-size: 1.2em;
}

.logic_add:hover, .logic_add2:hover, .answer_add2:hover, .answer_add:hover, .logic_delete:hover, .answer_delete:hover{
  text-decoration:none;
}

.answer_delete {
  float: right;
}

.logic_delete {}

.answer_add {}

.answer_delete {}

#answer-formset textarea {
  margin:0;
  padding:2%;
  width: 96%;
  height: 90px;
}

#logic-formset textarea {
  margin:0;
  padding:2%;
  margin-left:8px;
  width: 56%;
  height: 1.8em;
}

/*node_create form END*/

/*Visualbuilder*/

.finaldelete {
    font-family: Roboto;
    font-weight: 200;
    font-size: 10px;
    color: #A6A6B3;
    width: 40px;
    height: 17px;
    border: 1px solid #E8E8EF;
    border-radius: 5px;
    text-align: center;
    line-height: 17px;
    display: inline-block;
    vertical-align: top;
    transition: all .2s cubic-bezier(.05,.03,.35,1);
    color: #FFF;
    background-color: #217CE8;
    padding-bottom: 4px;
}
.finaldelete:hover {
    cursor: pointer;
    opacity: .7;
}

#nodedata {
  overflow: auto;
  height: calc(100% - 220px);
}
.propnavdisabled {
    transition: all .3s cubic-bezier(.05,.03,.35,1);
}
.propnavdisabled:hover {
    cursor: pointer;
    opacity: .5;
}
.propnavactive {
    color: #393C44!important;
}

.propnavactive:after {
    display: block;
    content: "";
    width:  100%;
    height: 4px;
    background-color: #217CE8;
    margin-top: -4px;
}
