{% load static %}
  {{ logic.management_form }}
<div class="logic-formset">
{% for logic_form in logic %}
  {{ logic_form.as_p }}
  {% endfor %}
</div>

<script src="{% static '/jquery.formset.js' %}"></script>
<script>
$('.logic-formset').formset({
    addText: 'Logik hinzufügen',
    deleteText: 'Logik Entfernen',
    addCssClass: "btn btn-primary btn_alignment logic_add",
    deleteCssClass: "btn btn-primary btn_alignment",
    prefix: 'logic',
    formCssClass:'logic-formset'
});
  </script>

  <link rel="stylesheet" href="{% static '/jquery.datetimepicker.min.css' %}"/>
  <script src="{% static '/jquery.datetimepicker.full.min.js' %}"></script>

  <script>
  $(function () {
    $(".datepicker").datetimepicker({
      timepicker:false,
      format:'d.m.Y'
    });
  });
</script>

<script>
  $( function() {
    var availableTags = [
      "ActionScript",
      "AppleScript",
      "Asp",
      "BASIC",
      "C",
      "C++",
      "Clojure",
      "COBOL",
      "ColdFusion",
      "Erlang",
      "Fortran",
      "Groovy",
      "Haskell",
      "Java",
      "JavaScript",
      "Lisp",
      "Perl",
      "PHP",
      "Python",
      "Ruby",
      "Scala",
      "Scheme"
    ];
    $( "input[name^='logic']" ).autocomplete({
      source: availableTags
    });
  } );
  </script>
