{% extends 'base.html' %}
{%block content%}
{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div id="publish-div">
</div>
</body>
</html>

<script defer type="text/javascript" src="{% static 'vendor/json-logic/logic.js' %}"></script>
<script defer type="text/javascript" src="{% static 'vendor/od-js-interpreter/od-js-interpreter.js' %}"></script>
<script type="text/javascript">
window.addEventListener('DOMContentLoaded', function() {
var  publishedTree = {{tree_data|safe}};
openDecision.init (publishedTree, "publish-div");
});
</script>
{%endblock%}
