.fadeinfadeout {
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.fadeoutfadein {
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f4f7;
}

.formset {
  width: 50%;
  margin: 0 auto 0;
  display: inline-block;
}

#answer-formset {
float: left;
}

#logic-formset {
  float: right;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.wrap_all {
	max-width:1218px;
	padding:1em;
	margin: 0 auto 0;
	background-color: white;
}

.wrap_content {
	margin:0;
	padding: 1em;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.build_form {
  width: 60%;
  margin: 0 auto 0;
}

.build_form input {
	width: 50%;
	margin:1em 0;
	padding:1em;
}

.build_form #question {
	width: 100%;
}

/*buttons*/
	.button_old {
	  background-color: #4CAF50;
	  border: none;
	  color: white;
	  padding: 15px 32px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 16px;
	  margin: 4px 2px;
	}
.btn_alignment {

  margin: 6px 4px;
}


	.button.red {
	  background-color: red;
	}
	.button.grey {
	  background-color: grey;
	}
  .button.form {
    padding: 5px 15px;
    background-color: grey;
  }
/*buttonsEND*/


/*footer*/
	.footer{
		overflow-x: hidden;
		background-color:#03316c;
    width: 100%;
	}

	.footer a {
	  float: right;
	  color: white;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	  font-size: 13px;
	}

	.footer a:hover {
	  background-color: #ddd;
	  color: black;
	}

	.footer a:active {
	  background-color: #dfdfdf;
	  color: white;
	}
/*footer END*/
