/*general*/
  body {
    height: 100%;
    width: 100%;
    display: table;
    table-layout: fixed;
  }

  html {
    height: 100%;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .clearfix::after {
  	content: "";
  	display: table;
  	clear: both;
  }

/*general END*/


/*basic setup*/

/*
#logo {
  float:right;
  padding:0.3em 0 0.1em 0;"
}

@media screen and (max-width: 420px){
  #logo {
    width:100%;
    padding:0.1em;
  }
}
*/

  .topbar, .navbar, .main, .footer {
    display: table-row;
  }

  .main {
    height: 100%;
  }

  .pageheader {
    margin-top:1em;
    padding-bottom:0.5em;
    border-bottom:solid lightgrey 1px;
  }

	.footer{
		overflow-x: hidden;
		background-color:grey;
    width: 100%;

	}

	.footer a {
	  float: right;
	  color: white;
	  text-align: center;
	  padding: 6px 8px;
	  text-decoration: none;
    font-size:0.8em;
	}

	.footer a:hover {
	  background-color: #ddd;
	  color: black;
    text-decoration: none;
	}

	.footer a:active {
	  background-color: #dfdfdf;
	  color: white;
	}

/*basic setup END*/


/*basic elements*/

.back_button:hover {
  text-decoration: none;

}


/*basic elements END*/


/*node_create form*/

.errorlist, .errorlist nonfield {

}

.node_create_name {
  border:none;
  background-color:#fcfcfc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.node_create_name:focus {
  background-color:#fff;
}

#question-formset {
  width: 100%;
  text-align:center;
  padding: 1em;

}

#input-formset  {
  width: 100%;
  text-align:center;
  padding: 1em;

}

#answer-formset {
  float: left;
  width: 50%;
  padding: 1em 0;
  margin:0;
}

#answer-formset p {
  width: 60%;
  float:left;
}

#answer-formset input {
  width: 100%;
  margin:0;
  border:none;
  background-color:#fcfcfc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
#answer-formset input:focus {
  background-color:#fff;
}

#answer-formset label {
  display:none;
}

.answer_delete {
  float: right;
}

.answer-formset {
  padding:1em;
  border-right:1px solid grey;
  height: 120px;
  border-bottom:1px solid grey;
}

#logic-formset {
  float: right;
  width: 50%;
  padding:1em 0;
  margin:0;
}

#logic-formset input, select {
  width: 40%;
  padding: 2px;
  margin: 2px 4px;
  border:none;
  background-color:#fcfcfc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

#logic-formset input:focus {
  background-color:#fff;
}

#logic-formset label {

}


.logic-formset {
  padding:1em;
  height: 120px;
  border-bottom:1px solid grey;
}

.node_create_topbar {
  background-color:#eee;
  padding:1em;
  margin:0;
  overflow:hidden;
}

.logic_add, .answer_add {
  padding: 0 49% 0;
}
.logic_add, .answer_add, .logic_delete, .answer_delete {
  font-weight: bold;
  font-size: 1.2em;
}

.logic_add:hover, .answer_add:hover, .logic_delete:hover, .answer_delete:hover{
  text-decoration:none;
}

.answer_delete {
  float: right;
}

.logic_delete {}

.answer_add {}

.answer_delete {}

/*node_create form END*/
