{% extends "base.html" %}

{% block content %}
  <h2 class="pageheader">Dashboard</h2>
  <h3 style="padding-top:1em; padding-bottom: 0.5em; font-size:1.2em; text-decoration:underline;">deine Entscheidungsbäume</h3>

<div id="trees">
    {% if decisiontree_list %}
  <ul>
    {% for decisiontree in decisiontree_list %}
      <li>
        <a href="/trees/{{ decisiontree.slug }}">{{ decisiontree.name }}</a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>Du hast noch keinen Entscheidungsbaum erstellt.</p>
  {% endif %}
</div>

<h3 style="padding-top:1em; padding-bottom: 0.5em; font-size:1.2em; text-decoration:underline;">neuen Baum erstellen</h3>
{{ form.as_p }}


<button type="submit" name="addTree" value='addTree' id ="addTree" class="btn btn-primary btn_alignment">Baum erstellen</button>

<script>
$(document).ready(function(){
  $("#addTree").click(function () {
    var name = $("#id_name").val();
        $.post({
          url: "{% url 'add_tree' %}",
          headers: {'X-CSRFToken': '{{ csrf_token }}'},
          data: {
            'name': name
          },
          success: function (data) {
            $("#id_name").empty();
            $("#trees").empty();
            $("#trees").html(data);
          }
        });
      });
   });

</script>


{% endblock %}
