{% extends 'base.html' %}
{%block content%}
<form class="build_form" method="POST">{%csrf_token%}
  <input id="question" type="text" name="question" placeholder='Frage' value='Wie geht es dir?' required><br>
  <input type="text" name="answer1" placeholder='erste Antwort' value='Gut' required><input type="text" name="rule1" placeholder='nächster Knoten'  value='2' required><br>
  <input type="text" name="answer2" placeholder='zweite Antwort' value='Schlecht' required><input type="text" name="rule2" placeholder='nächster Knoten' value='3' required><br>
  <input type="text" name="answer3" placeholder='dritte Antwort' value='Ok'><input type="text" name="rule3" placeholder='nächster Knoten' value='4' ><br>

<button class="button" style="width:100%;" type="submit" name="action">Knoten erstellen</button>
</form>
<div style="width:60%;margin: 0 auto 0;">
  {% if node_id %}
  <p>Aktuelle ID: {{ node_id|add:'1'  }}</p>
  {% else %}
  <p>Aktueller Knoten: 1</p>
  {% endif %}


{% if test %}
{% for key, value in test.items %}
<p>Knoten: {{key}}<br>Frage: {{value.question}}
{% for key, value in value.rules.items %}<br>{{key}} -> {{value}}, {% endfor %}</p>
{% endfor %}
{% else %}
  <p>noch keine Knoten erstellt</p>
{% endif %}
</div>
<br>
<form method="POST">{%csrf_token%}
<button  class="button grey" style="display:block; margin: 0 auto 0;width:25%;" type="submit" name="demo" value=start>Baum ausprobieren</button>
</form>
<br>
<form method="POST">{%csrf_token%}
<button  class="button grey" style="display:block; margin: 0 auto 0; width:25%;" type="submit" name="reset" value=True >Reset</button>
</form>
{%endblock%}
