{% extends 'base.html' %}
{%block content%}

<h2 class="pageheader">access to justice</h2>
  <br>
  <p style="color:grey;">powered by Humboldt Consumer Law Clinic</p>
  <p>Willkommen auf der Demo-Website der access-to-justice-App!</p>

  <p>Bist du eine natürliche Person, die ein Rechtsgeschäft zu Zwecken abschließt,
  die überwiegend weder deiner gewerblichen noch deiner selbständigen beruflichen Tätigkeit zugerechnet werden kann
  und streitest du dich mit einer natürlichen oder juristischen Person oder einer rechtsfähigen Personengesellschaft,
  die bei Abschluss des Rechtsgeschäfts in Ausübung ihrer gewerblichen oder selbständigen beruflichen Tätigkeit handelte
  über eine Summe von weniger als 1000 €?</p>

  <p>Dann bist du bei uns genau richtig!</p>
    <ul>
      <li>Wir agieren kostenlos und sammeln keine Daten für kommerzielle Zwecke</li>
      <li>Wir und unsere App werden von Volljuristen beaufsichtigt und überprüft</li>
      <li>Wir bieten dir sowohl automatisierte Soforthilfe als auch individuelle Beratung von unserem Team</li>
    </ul>

  <p><a href="/question" style="color:#03316c;text-decoration:none;">Hier</a> kannst du deinen Fall von unserem Botvocat analysieren lassen.</p>

  <p><a href="/" style="color:#03316c;text-decoration:none;">Hier</a> kannst du dich an unser Team aus Rechtsberatern wenden.</p>

{%endblock%}
{%block test%}
{%endblock%}
