{% extends 'base.html' %}
{%block content%}

<h2 style="text-align:center;">Humboldt Customer Law Clinic</h2>
  <br>
  
  <p>Willkommen auf der offiziellen Demo-Website der Humboldt Customer Law Clinic!</p>
  
  <p>Bist du eine natürliche Person, die ein Rechtsgeschäft zu Zwecken abschließt, 
  die überwiegend weder deiner gewerblichen noch deiner selbständigen beruflichen Tätigkeit zugerechnet werden kann
  und streitest du dich mit einer natürlichen oder juristischen Person oder einer rechtsfähigen Personengesellschaft, 
  die bei Abschluss des Rechtsgeschäfts in Ausübung ihrer gewerblichen oder selbständigen beruflichen Tätigkeit handelte 
  über eine Summe von weniger als 1000 €?</p>
  
  <p>Dann bist du bei uns genau richtig!</a>
  
  <p><a href="/question" style="color:blue;text-decoration:none;">Hier</a> kommst du zur ersten Testversion
  der super coolen Acess-to-Justice-App der HCLC!</p>
  
  <p>Falls dein Fall aber ganz schlimm verzwickt ist und du sicher bist, dass unser (unfassbar) schlauer
  Algorithmus dir nicht weiterhelfen kann, kannst du dich <a href="/" style="color:blue;text-decoration:none;">hier</a> 
  auch direkt an unser fähiges Team aus Rechtsberatern wenden - ganz unverfänglich und kostenlos!</p>
  
{%endblock%}
{%block test%}
{%endblock%}
