
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container">
    <a class="navbar-brand" href="/">open decision<!---<img src="-" width="50" height="50" alt="opendecision">---></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/interpreter">Interpreter (Demo)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Kontakt</a>
        </li>
{% if user.is_authenticated %}

        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Dashboard von {{ user.get_username }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout'%}?next={{request.path}}">Logout</a>
        </li>

{% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login'%}?next=/dashboard">Login</a>
        </li>
{% endif %}
      </ul>
    </div>
    </div>
</nav>
