{% extends "base.html" %}

{% block content %}
  <h2 class="pageheader">Dashboard</h2>
<div id="trees">
    <table class="table tree-table"><!---fix length issue (long names break table)--->
    <thead>
      <tr>
        <th style="border-top:none;" scope="col">#</th>
        <th style="border-top:none;text-align:left;" scope="col">Entscheidungsbäume</th>
        <th style="border-top:none;text-align:left;" scope="col">Knotenzahl</th>
        <th style="border-top:none;text-align:left;" scope="col"></th>
      </tr>
    </thead>
    <tbody>
{% if decisiontree_list %}
      {% for decisiontree in decisiontree_list %}
        <tr id="tr_{{ decisiontree.id }}">
          <th id="tree-counter" scope="row">{{ forloop.counter }}</th>
          <td>{{ decisiontree.name |truncatechars:40}}</td>
          <td>{{ decisiontree.node_number }}</td>
          <td><nobr>
            <a class="btn btn-primary btn-sm" href="/trees/{{ decisiontree.slug }}" role="button">></a>
            <button type="submit" data-toggle="modal" data-target="#deleteModal" tree-id="{{ decisiontree.id }}" tree-name="{{ decisiontree.name }}" class="btn btn-primary btn-sm">x</button>
          </nobr></td>
        </tr>
      {% endfor %}
{% else %}
    <tr>
      <td></td>
      <td>noch keine Entscheidungsbäume erstellt</td>
      <td></td>
      <td></td>
    </tr>
{% endif %}
    </tbody>
    </table>
</div>
<table>
  <tr>
    <td>{{ form.as_p }}</td>
    <td><button type="submit" name="addTree" value='addTree' id="addTree" class="btn btn-primary btn-sm">+</button></td>
  </tr>
</table>
</div>

<br>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bestätigen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
        <button type="button" class="btn btn-primary btn-danger" data-dismiss="modal" id=deleteTree>Löschen</button>
      </div>
    </div>
  </div>
</div>


<script>
$(document).ready(function(){
  $("#addTree").click(function () {
    var name = $("#id_name").val();
        $.post({
          url: "{% url 'add_tree' %}",
          headers: {'X-CSRFToken': '{{ csrf_token }}'},
          data: {
            'name': name
          },
          success: function (data) {
             $(".tree-table tbody").append(data);
             var rowCount = $("#tree-counter").first().html();
             console.log(rowCount)

             //$('<div class="item">Item 3</div>').insertAfter('.item:last');
            // $("#id_name").empty();
            // $("#trees").empty();
            // $("#trees").html(data);
          }
        });
      });

      //triggered when modal is about to be shown
      $('#deleteModal').on('show.bs.modal', function(e) {
        //get data-id attribute of the clicked element
        var treeId = $(e.relatedTarget).attr('tree-id');
        var treeName = $(e.relatedTarget).attr('tree-name');
        //populate the textbox
        $(e.currentTarget).find('.modal-body').html('<p>Soll der Entscheidungsbaum <b>' + treeName + '</b> wirklich gelöscht werden?</p>');
        $(e.currentTarget).find('#deleteTree').attr('tree-id', treeId);
      });


      $("#deleteTree").click(function(){

      var treeId = $(this).attr('tree-id');

      $.ajax({
        url: "{% url 'ajax_delete_tree' %}",
        type: "POST",
        data: {
          'tree_id': treeId,
          csrfmiddlewaretoken: '{{ csrf_token }}',
        },
        success: function (data) {
      $('#tr_' + treeId).remove();
            }
          });
        });
   });

</script>


{% endblock %}
