  <table class="table"><!---fix length issue (long names break table)--->
  <thead>
    <tr>
      <th style="border-top:none;" scope="col">#</th>
      <th style="border-top:none;text-align:left;" scope="col">Entscheidungsbäume</th>
      <th style="border-top:none;text-align:left;" scope="col">Knotenzahl</th>
      <th style="border-top:none;text-align:left;" scope="col"></th>
    </tr>
  </thead>
  <tbody>
{% if decisiontree_list %}
    {% for decisiontree in decisiontree_list %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ decisiontree.name }}</td>
        <td>{{ decisiontree.node_number }}</td>
        <td><nobr>
          <a class="btn btn-primary btn-sm" href="/trees/{{ decisiontree.slug }}" role="button">></a>
          <button type="submit" name="" value='' id ="" class="btn btn-primary btn-sm">x</button><!---delete node function needed--->
        </nobr></td>
      </tr>
    {% endfor %}
{% else %}
  <tr>
    <td></td>
    <td>noch keine Entscheidungsbäume erstellt</td>
    <td></td>
    <td></td>
  </tr>
{% endif %}
<tr>
<td></td>
<td>{{ form.as_p }}</td> <!---delete label--->
<td></td>
<td>
  <button type="submit" name="addTree" value='addTree' id ="addTree" class="btn btn-primary btn-sm">+</button> <!---function needs fixing--->
</td>
</tr>
</tbody>
</table>
