{% extends "base.html" %}
{% block content %}
  <h2 class="pageheader">Baum exportieren {{ selected_tree.name }}</h2>
<p>Hier kann der Entscheidungsbaum in ein universelles Datenformat exportiert werden.</p>
Ja, ich möchte den Entscheidungsbaum gemeinfrei unter CC 4.0 BY lizenzieren <input type="checkbox" label="hi "name="efads" value="Ja, unter CC 4.0 BY veröffentlichen" checked>
<br><a href="https://creativecommons.org/choose/?lang=de">Mehr Infos</a>
<br><a class="btn btn-primary" href="#" role="button" style="margin:20px">Export</a>
{% endblock %}
