{% extends "base.html" %}
{% block content %}
{% load custom_filters %}
{% load static %}
{% load i18n %}

<div id="trees"
  <div class="main-content">
    <div class="container mt-7">
      <!-- Table -->
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0">{% trans "Published Trees"  %}</h3>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush tree-table table-hover">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">{% trans "Exported Tree" %}</th>
                    <th scope="col">{% trans "Export Date" %}</th>
                    <th scope="col">{% trans "Access Code" %}</th>
                    <th scope="col">{% trans "Copy Link" %}</th>
                    <th scope="col">{% trans "iFrame Code" %}</th>
                    <th scope="col">{% trans "Telegram Bot Link" %}</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  {% if published_tree_list %}
                        {% for decisiontree in published_tree_list %}
                    <tr id="tr_{{ decisiontree.id }}" class="tr-clickable" data-href='/publish/{{ decisiontree.url }}'>
                    <td>
                      {{ decisiontree.decision_tree.name |truncatechars:40}}
                    </td>
                    <td>
                      <span class="d-flex align-items-center">
                        {{ decisiontree.created_at }}
                      </span>
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2"><a href="/publish/{{ decisiontree.url }}">{{ decisiontree.url }}</a></span>
                      </div>
                    </td>
                    <td class="no-bubbling">
                      <button id="copy-btn" type="button" data-url="publish/{{ decisiontree.url }}" class="btn btn-primary btn-icon-split btn-sm no-bubbling" name="button">
                        <span class="icon text-white-50 no-bubbling">
                          <i class="far fa-copy no-bubbling"></i>
                        </span>
                        <span class="text no-bubbling">{% trans "Copy Link" %}</span>
                      </button>
                    </td>
                    <td class="no-bubbling">
                      <button id="copy-btn" data-iframe="true" type="button" data-url="publish/{{ decisiontree.url }}?embedded=true" class="btn btn-secondary btn-icon-split btn-sm no-bubbling" name="button">
                        <span class="icon text-white-50 no-bubbling">
                          <i class="far fa-copy no-bubbling"></i>
                        </span>
                        <span class="text no-bubbling">{% trans "Copy iFrame Link" %}</span>
                      </button>
                    </td>
                    <td class="no-bubbling">
                      <button id="copy-btn" data-telegram="true" type="button" data-url="{{ decisiontree.url }}" class="btn btn-secondary btn-icon-split btn-sm no-bubbling" name="button">
                        <span class="icon text-white-50 no-bubbling">
                          <i class="far fa-copy no-bubbling"></i>
                        </span>
                        <span class="text no-bubbling">{% trans "Telegram-Bot Link" %}</span>
                      </button>
                    </td>
                    <td class="text-center">
                      <div class="dropdown no-bubbling">
                        <a class="btn btn-sm btn-icon-only text-dark no-bubbling" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v no-bubbling"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-left shadow animated--fade-in no-bubbling">
                          <a class="dropdown-item no-bubbling" type="button" data-toggle="modal" data-target="#deleteModal" tree-id="{{ decisiontree.id }}" tree-name="{{ decisiontree.decision_tree.name }}">
                            <i class="fas fa-ban no-bubbling"></i>
                            {% trans "Unpublish" %}
                          </a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                  {% else %}
                  <tr id="empty-table-help">
                    <th scope="row">
                      <td>
                        <div class="container">
                          <h2>{% trans "It's so empty here..." %}</h2>
                          <p class="mb-5">{% trans "Build your first tree and publish it in the export-section." %}</p>
                        </div>
                      </td>
                    </th>
                  </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{% trans  "Confirm" %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Cancel"%}</button>
            <button type="button" class="btn btn-primary btn-danger" data-dismiss="modal" id=deleteTree>{% trans "Unpublish" %}</button>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    <script>
    window.addEventListener('DOMContentLoaded', function() {

// Copy to clipboard functionality
    function copyTextToClipboard(text) {
      var textArea = document.createElement("textarea");
      // Some styling if textArea should be visible
      textArea.style.position = 'fixed';
      textArea.style.top = 0;
      textArea.style.left = 0;
      textArea.style.width = '2em';
      textArea.style.height = '2em';
      textArea.style.padding = 0;
      textArea.style.border = 'none';
      textArea.style.outline = 'none';
      textArea.style.boxShadow = 'none';
      textArea.style.background = 'transparent';
      textArea.value = text;
      document.body.appendChild(textArea);
      textArea.focus();
      textArea.select();
      try {
        document.execCommand('copy');
        el = event.target.closest('#copy-btn')
        el.classList.remove('btn-primary');
        el.classList.add('btn-success');
        el.querySelector('.text').textContent='Copied!';
      } catch (err) {
      }
      document.body.removeChild(textArea);
    }

    $(document).on('click', '#copy-btn', function(event) {
      var url = window.location.href.replace("published-trees/",'') + event.target.closest('#copy-btn').getAttribute('data-url');
      if (event.target.closest('#copy-btn').hasAttribute('data-iframe')) {
        var iframe = '<iframe src="' + url + '"width="1000" height="600">Your browser does not support iFrames</iframe>';
        copyTextToClipboard(iframe);
        }
        else if (event.target.closest('#copy-btn').hasAttribute('data-telegram')) {
              var telegram_url = 'https://t.me/opendecision_bot?start=' + event.target.closest('#copy-btn').getAttribute('data-url');
              copyTextToClipboard(telegram_url);
            }
      else {
        copyTextToClipboard(url);
      }

    });


      // Make the table rows clickable
    $('.tr-clickable').click(function(e){
      // Do not react to clicks on elements with no-bubbling class (the dropdown menu)
      if (!$(e.target).hasClass("no-bubbling")){
         window.location = $(this).attr('data-href');
      };
    });

          //triggered when modal is about to be shown
          $('#deleteModal').on('show.bs.modal', function(e) {
            //get data-id attribute of the clicked element
            var treeId = $(e.relatedTarget).attr('tree-id');
            var treeName = $(e.relatedTarget).attr('tree-name');
            //populate the textbox
            $(e.currentTarget).find('.modal-body').html('<p>' + gettext('Are you sure that you want to unpublish the tree') + ' <b>' + treeName + '?</b></p>');
            $(e.currentTarget).find('#deleteTree').attr('tree-id', treeId);
          });


          $("#deleteTree").click(function(){

          var treeId = $(this).attr('tree-id');

          $.ajax({
            url: "{% url 'ajax_unpublish_tree' %}",
            type: "POST",
            data: {
              'tree_id': treeId,
              csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function (data) {
          $('#tr_' + treeId).remove();
          var rowCount = $("#tree-counter").first().html();
          $("#empty-table-help").hide();

                }
              });
            });
       });

    </script>
    {% endblock %}
