{% extends "base.html" %}

{% block content %}
  <h2 class="pageheader">Knotenansicht: {{ selected_tree.name}}</h2>

<div id="nodes">
  {% if existing_nodes or new_nodes%}
  <ul>
    {% for node in existing_nodes %}
      <li>
        <a href="{{ node.slug }}/edit">{{ node.name }}</a>
      </li>
    {% endfor %}
  </ul>
  {% if new_nodes%}
<p>Neue Knoten:</p>
  <ul>
    {% for node in new_nodes %}
      <li>
        <a href="{{ node.slug }}/edit">{{ node.name }}</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
  {% else %}
    <p>Du hast noch keine Knoten erstellt.</p>
  {% endif %}
</div>

<a href="create">Neuen Knoten erstellen</a>

{% endblock %}
