{% extends "base.html" %}
{% block content %}
{% load custom_filters %}
{% load static %}
{% load i18n %}

<div id="trees"
  <div class="main-content">
    <div class="container mt-7">
      <!-- Table -->
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0"><a href="/dashboard" class="back_button">&#x2190;</a>{% trans "Nodes of: " %} {{ selected_tree.name}}</h3>
            </div>
            <div class="table-responsive" data-slug="{{ selected_tree.slug}}">
              <table class="table align-items-center table-flush tree-table table-hover">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">{% trans "Node name" %}</th>
                    <th scope="col">{% trans "Question" %}</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  {% if existing_nodes or new_nodes%}
                        {% for node in existing_nodes %}
                  <tr id="tr_{{ node.id }}" class="tr-clickable" data-href='{{ node.slug }}/edit'>
                    <th scope="row">
                      <div class="media align-items-center">
                        <div class="media-body">
                          <!-- <span class="mb-0 text-sm" id="tree-counter">{{ forloop.revcounter }}</span> -->
                        </div>
                      </div>
                    </th>
                    <td>
                      {{ node.name |truncatechars:40 }}<br>{% if node.start_node %}<span class="badge badge-pill badge-secondary">{% trans "Start-Node" %}</span>{% endif %}{% if node.end_node %}<span class="badge badge-pill badge-info ml-1">{% trans "End-Node" %}</span>{% endif %}
                    </td>
                    <td>
                      <span class="d-flex align-items-center">
                        {{ node.question |truncatechars:60 |safe }}
                      </span>
                    </td>
                    <td>
                      <a href="{{ node.slug }}/edit" class="btn btn-primary btn-icon-split btn-sm">
                        <span class="icon text-white-50">
                          <i class="far fa-edit"></i>
                        </span>
                        <span class="text">{% trans "Edit" %}</span>
                      </a>
                    </td>
                    {% if not node.start_node %}
                    <td class="text-center">
                      <div class="dropdown">
                        <a class="btn btn-sm btn-icon-only text-dark no-bubbling" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v no-bubbling"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-left shadow animated--fade-in no-bubbling">
                          <a class="dropdown-item no-bubbling" type="button" data-toggle="modal" data-target="#deleteModal" node-id="{{ node.id }}" node-name="{{ node.name }}">
                            <i class="far fa-trash-alt no-bubbling"></i>
                            {% trans "Delete" %}
                          </a>
                        </div>
                      </div>
                    </td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                  {% if new_nodes%}
                    {% for node in new_nodes %}
                    <tr id="tr_{{ node.id }}" class="tr-clickable" data-href='{{ node.slug }}/edit'>
                      <th scope="row">
                        <div class="media align-items-center">
                          <div class="media-body">
                            <span class="mb-0 text-sm" id="tree-counter">{{ forloop.revcounter }}</span>
                          </div>
                        </div>
                      </th>
                      <td>
                        {{ node.name |truncatechars:40 }}<br><span class="badge badge-pill badge-success">{% trans "New Node" %}</span>{% if node.end_node %}<span class="badge badge-pill badge-info ml-1">{% trans "End-Node" %}</span>{% endif %}
                      </td>
                      <td>
                        <span class="d-flex align-items-center">
                          {{ node.question |truncatechars:80 |safe }}
                        </span>
                      </td>
                      <td>
                        <a href="{{ node.slug }}/edit" class="btn btn-primary btn-icon-split btn-sm">
                          <span class="icon text-white-50">
                            <i class="far fa-edit"></i>
                          </span>
                          <span class="text">{% trans "Edit" %}</span>
                        </a>
                      </td>
                      <td class="text-center">
                        <div class="dropdown no-bubbling">
                          <a class="btn btn-sm btn-icon-only text-dark no-bubbling"href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v no-bubbling"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-left shadow animated--fade-in no-bubbling">
                            <a class="dropdown-item no-bubbling" type="button" data-toggle="modal" data-target="#deleteModal" node-id="{{ node.id }}" node-name="{{ node.name }}">
                              <i class="far fa-trash-alt no-bubbling"></i>
                              {% trans "Delete" %}
                            </a>
                          </div>
                        </div>
                      </td>
                    </tr>
                    {% endfor %}
                  {% endif %}
              {% else %}
                  <tr id="empty-table-help">
                    <th scope="row">
                      <td>
                        <div class="container">
                          <div class="row align-items-center">
                            <div class="col-lg-6 order-lg-1">
                              <div class="p-5">
                                <img class="img-fluid" src="{% static 'img/undraw/no_nodes.svg' %}" alt="Empty List Illustration">
                              </div>
                            </div>
                            <div class="col-lg-6 order-lg-2">
                              <div class="p-5 text-center">
                                <h2>{% trans "It looks like you don't have any nodes yet..." %}</h2>
                                <p class="mb-5">{% trans "Let's click the blue button and create a new Node!" %}</p>

                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                    </th>
                  </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
            <div class="card-footer py-4">
              <nav aria-label="...">
                <ul class="pagination justify-content-end mb-0">
                  <li class="page-item mr-3">
                    <a href="create" class="btn btn-primary btn-icon-split btn-sm">
                      <span class="icon text-white-50">
                        <i class="fas fa-plus"></i>
                      </span>
                      <span class="text">{% trans "Create new node" %}</span>
                    </a>
                  </li>
                  {% if existing_nodes or new_nodes%}
                  <li class="page-item mr-3">
                    <a href="export" class="btn btn-success btn-icon-split btn-sm">
                      <span class="icon text-white-50">
                        <i class="fas fa-download"></i>
                      </span>
                      <span class="text">{% trans "Export tree" %}</span>
                    </a>
                  </li>
                  <li class="page-item mr-3">
                    <a href="preview" id="preview-btn" class="btn btn-info btn-icon-split btn-sm" data-toggle="modal" data-url = "{% url 'ajax_load_tree' %}" data-target="#previewModal">
                      <span class="icon text-white-50">
                        <i class="fas fa-download"></i>
                      </span>
                      <span class="text">{% trans "Preview tree" %}</span>
                    </a>
                  </li>
                  {% endif %}
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{% trans "Confirm" %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Cancel" %}</button>
            <button type="button" class="btn btn-primary btn-danger" data-dismiss="modal" id=deleteNode>{% trans "Delete" %}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="preview-modal-body">
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>

    <!-- <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script> -->
    <script defer type="text/javascript" src="{% static 'vendor/json-logic/logic.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'vendor/od-js-interpreter/od-js-interpreter.js' %}"></script>
    <script async type="text/javascript" src="{% url 'javascript-catalog' %}"></script>

    <script>
    window.addEventListener('DOMContentLoaded', function() {

      $(document).on('click', '#preview-btn', function(event) {
        var url =  $('#preview-btn').attr("data-url");
        var selectedTree = $('.table-responsive').attr('data-slug');

        $.ajax({
          url: url,
          async: false,
          data: {
            'selected_tree': selectedTree,
          },
          success: function (data) {
             openDecision.init (data, "preview-modal-body");
          }
      });
      });

      // Make the table rows clickable
      $('.tr-clickable').click(function(e){
        // Do not react to clicks on elements with no-bubbling class (the dropdown menu)
        if (!$(e.target).hasClass("no-bubbling")){
           window.location = $(this).attr('data-href');
        };
      });

    //triggered when modal is about to be shown
    $('#deleteModal').on('show.bs.modal', function(e) {
      //get data-id attribute of the clicked element
      var nodeId = $(e.relatedTarget).attr('node-id');
      var nodeName = $(e.relatedTarget).attr('node-name');
      //populate the textbox

      $(e.currentTarget).find('.modal-body').html('<p>' + gettext('Are you sure that you want to delete the node') + ' <b>' + nodeName + '?</b></p>');
      $(e.currentTarget).find('#deleteNode').attr('node-id', nodeId);
    });

    // Deletes node via AJAX and than removes the list entry
    $('#deleteNode').click(function(){
    var nodeId = $(this).attr('node-id');

    $.ajax({
      url: '{% url 'ajax_delete_node' %}',
      type: "POST",
      data: {
        'node_id': nodeId,
        csrfmiddlewaretoken: '{{ csrf_token }}',
      },
      success: function (data) {
    $('#tr_'+nodeId).remove();
          }
        });
      });
    });

    </script>
    {% endblock %}
