{% load static %}
{% if edit %}
  {{ input_formset_init.management_form }}
  {% for input_form in input_formset_init %}
    <div class="answer-formset">
    {{ input_form.as_p }}
    </div>
  {% endfor %}

{% else %}
  {{ input_formset.management_form }}
    <div class="answer-formset">
    {% for input_form in input_formset %}
      {{ input_form.as_p }}
    {% endfor %}
    </div>
{% endif %}

{% if expandable %}
<script defer src="{% static '/jquery.formset.js' %}"></script>
  <script>
  $('.answer-formset').formset({
      addText: '+',
      deleteText: '-',
      addCssClass: "answer_add",
      deleteCssClass: "answer_delete",
      prefix: 'input',
      formCssClass:'answer-formset',
  });
  </script>
{% endif %}
