{% load static %}
{% if edit %}

  {{ input_formset_init.management_form }}
  {% for input_form in input_formset_init %}
    <div class="input-formset">
      <div class="input-fields">
      {% for hidden_field in input_form.hidden_fields %}
          {{ hidden_field }}
        {% endfor %}
        {% for field in input_form.visible_fields %}
          <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}
              <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
          </div>
        {% endfor %}
    </div>
    <div class="logic-modules">
      <div id="logic_module">
         <div class='formset' id='logic-formset'>
        {% if edit %}
          {{ logic_formset_init }}
        {% endif %}
        </div>
      </div>
    </div>
    </div>
  {% endfor %}
{% else %}
  {{ input_formset.management_form }}
  {% for input_form in input_formset %}
    <div class="input-formset">
      <div class="input-fields">
    {% for hidden_field in input_form.hidden_fields %}
        {{ hidden_field }}
      {% endfor %}
      {% for field in input_form.visible_fields %}
        <div class="form-group">
          {{ field.label_tag }}
          {{ field }}
          {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <div class="logic-modules">
      <div id="logic_module">
         <div class='formset' id='logic-formset'>
        </div>
      </div>
    </div>
  </div>
    {% endfor %}
{% endif %}

{% if expandable %}

<script src="{% static 'vendor/jquery-formset/jquery.formset.js' %}"></script>
  <script>
  $('.input-formset').formset({
      addText: 'Add Input Option',
      deleteText: 'Remove Input Option',
      addCssClass: "btn btn-primary btn-sm formset-button",
      deleteCssClass: "btn btn-secondary btn-sm formset-button formset-button-remove",
      prefix: 'input',
      formCssClass:'input-formset',
      added: afterAdd,
      removed: afterRemoved,
  });
hideRemoveForFirstInput();
  function hideRemoveForFirstInput(){
    let inputSelector = document.querySelector(".formset-button-remove");
    inputSelector.style.display = "none";
  }
function afterAdd(row){
  try {
    let inputType = document.getElementById('id_input-0-input_type').value;
    if (inputType === 'button' || inputType === 'free_text'){
      let inputSelector = document.querySelectorAll("[id$=input_type]");
      inputSelector[inputSelector.length-1].style.display = "none";
      document.querySelector('label[for=' + inputSelector[inputSelector.length-1].id+']').style.display = "none";
      if (inputType === 'free_text'){
        document.querySelector('.input-formset').querySelector('a').style.display = "none";
      }
    }
  } catch{
  }
  hideRemoveForFirstInput();
};
function afterRemoved(row){
  try {
  let inputType = document.getElementById('id_input-0-input_type').value;
  if (inputType === 'button'){
    elem=document.getElementById('id_input-0-input_type');
    if (elem.style.display === "none"){
      elem.style.display = "";
      document.querySelector('label[for=' + elem.id +']').style.display = "";
    }
  }
} catch{
  }
  hideRemoveForFirstInput();
};

  </script>
{% endif %}
