{% load static %}
{% if edit %}
  {{ logic_formset_init.management_form }}
  {% for logic_form in logic_formset_init %}
    <div class="logic-formset">
      {{ logic_form.as_p }}
    </div>
      {% endfor %}

{% else %}
  {{ logic_formset.management_form }}
  <div class="logic-formset">
  {% for logic_form in logic_formset %}
    {{ logic_form.as_p }}
  {% endfor %}
  </div>
{% endif %}

<input type="hidden" id="input_hidden_field" value="" >
<input type="hidden" id="create_new_node" value="" >

<script src="{% static '/jquery.formset.js' %}"></script>
<script>
$('.logic-formset').formset({
    addText: 'Logik hinzufügen',
    deleteText: 'Logik Entfernen',
    addCssClass: "btn btn-primary btn_alignment logic_add",
    deleteCssClass: "btn btn-primary btn_alignment",
    prefix: 'logic',
    formCssClass:'logic-formset',
  //  added: ""   Build function to attach jQuery Handlers again for datepicker and load_nodes fct
});
  </script>

  <link rel="stylesheet" href="{% static '/jquery.datetimepicker.min.css' %}"/>
  <script src="{% static '/jquery.datetimepicker.full.min.js' %}"></script>

  <script>
  $(function () {
    $(".datepicker").datetimepicker({
      timepicker:false,
      format:'d.m.Y'
    });
  });
</script>

<script>
  $( function() {
    var loadNodesUrl="{% url 'ajax_load_nodes' %}";
    var selectedTree = $("#selectedTree").val();
    $.ajax({
      url: loadNodesUrl,
      data: {
        'selected_tree': selectedTree
      },
      success: function (data) {
        $('#input_hidden_field').val(JSON.stringify(data));
        var availableNodes = $('#input_hidden_field').val();
        availableNodes = JSON.parse(availableNodes);
        console.log(availableNodes);
        $( "input[id$='var_to_modify']").autocomplete({
          source: availableNodes,
          messages: {
            noResults: function(count) {
              $("input[id$='var_to_modify']").css("background-color","#4CAF50");
    },
            results: function(count) {
              $("input[id$='var_to_modify']").css("background-color","");
    }
  }
        });

  }
});
  });
</script>
