{% extends 'base.html' %}
{% load static %}
{% block content %}

<h2 class="pageheader"><a href="/trees/{{ selected_tree.slug }}">&#x2190;</a> Bearbeitung von {{ form.name }}{{ form.name.errors }}</h2>

<div id='question-formset'>
      {{ form.question.errors }}<!--creates ul (class="errorlist") with errors-->
      {{ form.question }}
</div>


<div id='input-formset'>
      {{ form.input_type.errors }}
      {{ form.input_type }}
</div>

<div id='answer-formset'>
<div class="node_create_topbar" style="border-right:1px solid grey; border-bottom:1px solid grey;"><p style="float:left;margin:0;">Antworten</p><a href="javascript:void(0)" class="answer_add" style="float:right; padding:0;">+</a></div>
{% if edit == 'true' %}
  {{ answer_formset_init }}
{% endif %}
</div>

<div id='logic-formset'>
<div class="node_create_topbar" style="border-bottom:1px solid grey;"><p style="float:left;margin:0;">Logik</p><a href="javascript:void(0)" class="answer_add" style="float:right; padding:0;">+</a></div>
  {% if edit == 'true' %}
    {{ logic_formset_init }}
  {% endif %}
</div>

<!--FEHLT: bei "+" script zu neue Antwort / neue Logik-->

{{ form.non_field_errors }}<!--creates ul (class="errorlist nonfield") with nonfield errors-->

{% if edit == 'true' %}
    <button class="btn btn-danger btn-sm btn-block" href="/trees/{{ selected_tree.slug }}">Bearbeiten abbrechen</button>
{% endif %}
    <button class="btn btn-primary btn-sm btn-block" name="save" value='True'>Knoten speichern</button>
</form>

&nbsp;



<script>
$(document).ready(function(){
  $("#id_input_type").change(function () {
        var logicFormUrl = $("#nodeForm").attr("logic-form-url");
        var answerFormUrl = $("#nodeForm").attr("answer-form-url");
        var inputType = $(this).val();

        $.ajax({
          url: logicFormUrl,
          data: {
            'input_type': inputType
          },
          success: function (data) {
            $("#logic-formset").html(data);
          }
        });


        $.ajax({
          url: answerFormUrl,
          data: {
            'input_type': inputType
          },
          success: function (data) {
            $("#answer-formset").html(data);
          }
        });
      });

  $("#answer-formset").on('blur',"input[name^='answer']",
      function(){
        let answer_given = $(this).val(),
            input_type = $('#id_input_type').val();

      if (input_type == 'button' && answer_given !== '') {
            let answers = $("#id_answer-TOTAL_FORMS").val(),
                logics = $("#id_logic-TOTAL_FORMS").val(),
                diff = answers - logics,
                num = $(this).attr('id').match(/\d+/);
                console.log(diff);
          if (diff > 0) {
            let i;
            for (i = 0; i < diff; i++) {
            $('.logic_add').trigger("click" );
          };
        };
          $("#id_logic-"+ num +"-answers_logic").val(answer_given);
        };
});
   });

</script>


{% endblock %}
