{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load custom_filters %}
{% load i18n %}

<form method="POST" id='nodeForm' input-form-url="{% url 'ajax_load_input_form' %}" logic-form-url="{% url 'ajax_load_logic_module' %}" load-nodes-url="{% url 'ajax_load_nodes' %}">{%csrf_token%}
{{ form.media }}
<h2 class="pageheader"><a href="/trees/{{ selected_tree.slug }}" class="back_button">&#x2190;</a> {% trans "Editing" %} {{ form.name }}{{ form.name.errors }}</h2>
<input type="hidden" id="selected-tree" value="{{ selected_tree.slug }}" >
<input type="hidden" id="init-short-text-destination" value="{{ free_text_destination }}" >
<input type="hidden" id="available_token" data-token-url="{% url 'ajax_load_token' %}" value="" >
{% if error %}
{{ error }}
{% endif %}
<div class="container">
  <div id='question-field'>
    {{ form.question }}
    {{ form.question.errors }}<!--creates ul (class="errorlist") with errors-->
  </div>

  <div id="input-form">
    <h2 style="margin:10px; float:left;">{% trans "Inputs" %}</h2>
    <div class='formset' id='input-formset'>
      {% if edit %}
        {{ input_formset_init }}
      {% endif %}
    </div>
  </div>

  <div class="m-2">
    {{ form.non_field_errors }}<!--creates ul (class="errorlist nonfield") with nonfield errors-->

    {% if edit %}
      <a class="btn btn-danger btn-sm btn-block mt-3" href="/trees/{{ selected_tree.slug }}" role="button">{% trans "Cancel" %}</a>
      {% endif %}
      <button type="submit" name="save" value='True' class="btn btn-success btn-sm btn-block">{% trans "Save Node" %}</button>
  </div>
</form>

<script async type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<script defer type="text/javascript" src="{% static 'vendor/jquery-ui/js/jquery-ui.min.js' %}"></script>

<script>
window.addEventListener('DOMContentLoaded', function() {

{% if not edit %}
  loadForms();
{% else %}
  shortTextDestination('{{input_type}}');
  let inputType = document.getElementById('id_input-0-input_type').value;
  if (inputType === 'button' || inputType === 'free_text'){
    let inputSelector = document.querySelectorAll("[id$=input_type]");
    for (var i=1;i<inputSelector.length;i++){
      inputSelector[i].style.display = "none";
      document.querySelector('label[for=' + inputSelector[i].id+']').style.display = "none";
      if (inputType === 'free_text'){
        document.querySelector('.input-formset').querySelector('a').style.display = "none";
      }
    }
  }
{% endif %}

CKEDITOR.on('dialogDefinition', function(event) {
  if ('token' == event.data.name) {
    //if ($('#available_tokens').val() == '') {
var tokenUrl = $('#available_token').attr("data-token-url");
var selectedTree = $('#selected-tree').val();

      $.ajax({
        url: tokenUrl,
        async: false,
        data: {
          'selected_tree': selectedTree,
        },
        success: function (data) {
          $("#available_token").html(data);
          var input = event.data.definition.getContents('info').get('name');
          input.items = data;
          input.setup = function() {
          this.setValue(data[0][0]);
        }
      }
    });
  }
});

  $("#id_input-0-input_type").change(function () {
    loadForms();
      });

      $("#add_a_2").click(function() {
        $('.answer_add').trigger("click" );
      });

      $("#add_l_2").click(function() {
        $('.logic_add').trigger("click" );
      });

   function loadForms (){
     var inputFormUrl = $("#nodeForm").attr("input-form-url");
     var logicFormUrl = $("#nodeForm").attr("logic-form-url");
     var inputType;
     inputType = $("#id_input-0-input_type").val();
     if (inputType === undefined) {
       inputType = 'button'
     }

     $.ajax({
       url: inputFormUrl,
       async:false,
       data: {
         'input_type': inputType
       },
       success: function (data) {
         $("#input-formset").html(data);
         $("#id_input-0-input_type").val(inputType);
         $("#id_input-0-input_type").change(function () {
           loadForms();
             });
             shortTextDestination(inputType);
       }
     });

     if ((inputType === "end_node") || (inputType === "button") || (inputType === "free_text")){
       $(".logic-formset").hide();
     } else {
       $(".logic-formset").show();

     $.ajax({
       url: logicFormUrl,
       data: {
         'input_type': inputType
       },
       success: function (data) {
         $("#logic-formset").html(data);
       }
     });
}

   };
function shortTextDestination(inputType){
   if (inputType === 'free_text'){
     let el = document.querySelector('.input-formset');
     let x = document.createElement('INPUT');
         x.setAttribute('type', 'text');
         x.setAttribute('id', 'short-text-destination');
         x.setAttribute('placeholder', 'Destination');
         x.setAttribute('name', 'short-text-destination');
         x.setAttribute('maxlength', '25');
         try {
           let initDest = document.getElementById('init-short-text-destination').value;
           x.setAttribute('value', initDest);
         } catch {
           {}
         }
         el.querySelector('.input-fields').appendChild(x);
         el.querySelector('a').style.display = "none";
   }
   }


});
</script>
{% endblock %}
