{% extends 'base.html' %}
{% load static %}
{% block content %}
<form method="POST" id='nodeForm' answer-form-url="{% url 'ajax_load_answer_field' %}" logic-form-url="{% url 'ajax_load_logic_field' %}" load-nodes-url="{% url 'ajax_load_nodes' %}">{%csrf_token%}
<h2 class="pageheader"><a href="/trees/{{ selected_tree.slug }}" class="back_button">&#x2190;</a> Bearbeitung von {{ form.name }}{{ form.name.errors }}</h2>
<input type="hidden" id="selectedTree" value="{{ selected_tree.slug }}" >

<div id='question-field'>
      {{ form.question }}
      {{ form.question.errors }}<!--creates ul (class="errorlist") with errors-->
</div>

<div id='inputtype-field'>
      {{ form.input_type }}
      {{ form.input_type.errors }}
</div>

<div id="answer-field">
  <div class="node_create_topbar" style="border-right:1px solid grey; border-bottom:1px solid grey;">
    <p style="float:left;margin:0;">Antworten</p>
    <a href="javascript:void(0)" class="answer_add2" id="add_a_2" style="float:right; padding:0;">+</a>
  </div>
    <div class='formset' id='answer-formset'>
{% if edit == 'true' %}
  {{ answer_formset_init }}
{% endif %}
  </div>
</div>
<div id="logic-field">
  <div class="node_create_topbar" style="border-bottom:1px solid grey;">
    <p style="float:left;margin:0;">Logik</p>
    <a href="javascript:void(0)" class="logic_add2" id="add_l_2" style="float:right; padding:0;">+</a>
  </div>  <div class='formset' id='logic-formset'>
  {% if edit == 'true' %}
    {{ logic_formset_init }}
  {% endif %}
  </div>
</div>

<!--FEHLT: bei "+" script zu neue Antwort / neue Logik-->

{{ form.non_field_errors }}<!--creates ul (class="errorlist nonfield") with nonfield errors-->

{% if edit == 'true' %}
<a class="btn btn-danger btn-sm btn-block" href="/trees/{{ selected_tree.slug }}" role="button" style="float:left; width:100%;">Bearbeiten abbrechen</a>
{% endif %}
<button type="submit" name="save" value='True' class="btn btn-primary btn-sm btn-block" style="float:left; width:100%;margin-bottom:1em;">Knoten speichern</button>
</form>




<script>
$(document).ready(function(){
  $("#id_input_type").change(function () {
        var logicFormUrl = $("#nodeForm").attr("logic-form-url");
        var answerFormUrl = $("#nodeForm").attr("answer-form-url");
        var inputType = $(this).val();

        $.ajax({
          url: logicFormUrl,
          data: {
            'input_type': inputType
          },
          success: function (data) {
            $("#logic-formset").html(data);
          }
        });


        $.ajax({
          url: answerFormUrl,
          data: {
            'input_type': inputType
          },
          success: function (data) {
            $("#answer-formset").html(data);
          }
        });
      });

      $("#add_a_2").click(function() {
        $('.answer_add').trigger("click" );
      });

      $("#add_l_2").click(function() {
        $('.logic_add').trigger("click" );
      });

  $("#answer-formset").on('blur',"input[name^='answer']",
      function(){
        let answer_given = $(this).val(),
            input_type = $('#id_input_type').val();

      if (input_type == 'button' || input_type == 'short_text' || input_type == 'long_text' && answer_given !== '') {
            let answers = $("#id_answer-TOTAL_FORMS").val(),
                logics = $("#id_logic-TOTAL_FORMS").val(),
                diff = answers - logics,
                num = $(this).attr('id').match(/\d+/);
                console.log(diff);
          if (diff > 0) {
            let i;
            for (i = 0; i < diff; i++) {
            $('.logic_add').trigger("click" );
          };
        };
          $("#id_logic-"+ num +"-answers_logic").val(answer_given);
        };
});
   });

</script>


{% endblock %}
